@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(244, 241, 241);
  font-family: 'Poppins', sans-serif;
  color:rgb(57, 57, 57);
}

h3{
  font-size: 20px;
  line-height: 50%;
  font-weight: bold;
  margin: 10px 0px 0px;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  margin: 30px 0 10px 0;
  color: rgb(162, 0, 255);
}
.dark h2 {
  color:rgb(246, 169, 241);
}

p {
  margin: 0px;
  font-size: 20px;
}

a {
  color:rgb(162, 0, 255);
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  
}

.dark a {
  color:rgb(246, 169, 241);
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 
    inset 4px 4px 4px rgb(255,255,255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
 color:rgb(255, 255, 255);
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.main-text {
  padding: 30px;
  margin-bottom: 100px;
}

.square {
  width: 100%;
  margin: 1%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.dark .square {
  background-color: rgb(71, 71, 71);
}



.sub-section {
  display: flex;
  flex-wrap: wrap;
}

.hero-image {
  position: relative;
  width: 50%;
  height: 350px;
  display: block;
  margin-bottom: 100px;
}

.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg) skew(25deg);
}

.cube:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}

#onion {
  left: 100px;
  bottom: 80px;
  background-image: url("onion.png");
  background-size: cover;
  background-color: rgb(175, 119, 227);
  box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
}

#onion:before {
  background-color: rgb(189, 154, 221);
}

#onion:after {
  background-color: rgb(205, 188, 221);
}

#kali {
  left: 250px;
  bottom: 240px;
  background-image: url("kali.png");
  background-size: cover;
  background-color: rgb(255, 255, 255);
  box-shadow: -100px 100px 20px rgb(50 50 50/ 15%);
}

#kali:before {
  background-color: rgb(139, 139, 139);
}

#kali:after {
  background-color: rgb(197, 197, 197);
}

#rat {
  left: 450px;
  bottom: 200px;
  background-image: url("rat.png");
  background-size: cover;
  background-color: rgb(255, 0, 0);
  box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
}

#rat:before {
  background-color: rgb(245, 88, 49);
}

#rat:after {
  background-color: rgb(158, 6, 6);
}


#mask {
  left: 350px;
  bottom: 40px;
  background-image: url("mask.png");
  background-size: cover;
  background-color: rgb(0, 255, 0);
  box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#mask::before {
  background-color: rgb(110, 219, 106);
}

#mask:after {
  background-color: rgb(36, 94, 9);
}

footer {
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color:rgb(136, 136, 136);
}

.dark footer {
  background-color:rgb(28, 28, 28);
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 60%;
  }

  .square {
    width: 100%;
    margin: 1%;
    height: 600px;
  }
}



.klist ul li
{
  list-style: none;
  align-items: center;
}